
<body>

    <h1>¡Bienvenido!</h1>
    <h2>Explora las impresionantes imágenes captadas por nuestro Interplanetario</h2>

    <div class="grid gap-4 px-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 max-w-6xl mx-auto">
        <div class="overflow-hidden rounded-lg shadow-lg">
            <img class="h-auto w-full rounded-lg transform hover:scale-105" src="https://images.pexels.com/photos/796206/pexels-photo-796206.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Imagen del espacio">
        </div>
        <div class="overflow-hidden rounded-lg shadow-lg">
            <img class="h-auto w-full rounded-lg transform hover:scale-105" src="https://images.pexels.com/photos/957085/milky-way-starry-sky-night-sky-star-957085.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Imagen de la Vía Láctea">
        </div>
        <div class="overflow-hidden rounded-lg shadow-lg">
            <img class="h-auto w-full rounded-lg transform hover:scale-105" src="https://images.pexels.com/photos/813269/pexels-photo-813269.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Nebulosa estelar">
        </div>
        <div class="overflow-hidden rounded-lg shadow-lg">
            <img class="h-auto w-full rounded-lg transform hover:scale-105" src="https://images.pexels.com/photos/2085998/pexels-photo-2085998.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Paisaje espacial">
        </div>
        <div class="overflow-hidden rounded-lg shadow-lg">
            <img class="h-auto w-full rounded-lg transform hover:scale-105" src="https://images.pexels.com/photos/1542493/pexels-photo-1542493.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Galaxia distante">
        </div>
        <div class="overflow-hidden rounded-lg shadow-lg">
            <img class="h-auto w-full rounded-lg transform hover:scale-105" src="https://images.pexels.com/photos/2150/sky-space-dark-galaxy.jpg?auto=compress&cs=tinysrgb&w=600" alt="Espacio profundo">
        </div>
        <div class="overflow-hidden rounded-lg shadow-lg">
            <img class="h-auto w-full rounded-lg transform hover:scale-105" src="https://images.pexels.com/photos/796206/pexels-photo-796206.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Imagen del espacio">
        </div>
        <div class="overflow-hidden rounded-lg shadow-lg">
            <img class="h-auto w-full rounded-lg transform hover:scale-105" src="https://images.pexels.com/photos/813269/pexels-photo-813269.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Nebulosa estelar">
        </div>
    </div>

    <footer class="bg-gray-900 text-center py-4 mt-12">
        <p>&copy; 2025 Interplanetario. Todos los derechos reservados.</p>
        <p>Diseñado por Heydi Herrera</p>
    </footer>

</body>

